#NEXT_PUBLIC_PROJECT_ENV = development
#NEXT_PUBLIC_ENV_MODE = testing

#Production Environment
#NEXT_PUBLIC_PROJECT_ENV = production
#NEXT_PUBLIC_ENV_MODE = production

#Staging Environment
#NEXT_PUBLIC_PROJECT_ENV = staging
#NEXT_PUBLIC_ENV_MODE = staging

#Development Environment
#NEXT_PUBLIC_PROJECT_ENV = development
#NEXT_PUBLIC_ENV_MODE = development

#Local Environment
#NEXT_PUBLIC_PROJECT_ENV = testing
#NEXT_PUBLIC_ENV_MODE = testing